@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family:Open Sans, sans-serif;
}
main {
    background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
    width: 100vw;
    height: 850px ;
}
header h1{
    font-size: 19px;
    font-family: Fredericka the Great, cursive;
    margin: 0 0 0 50px;
    color: white;
}
header div h2{
    color: white;
    font-family: Fredericka the Great, cursive;
    font-size: 22px;
    text-align: center;
    color: white;
    margin-top: 400px;
}
header div p {
    color: white;
    text-align: center;
    font-size: 10px;
    margin:  0 600px 0 600px;
}
/* The first button */
header article button{
    background-color: transparent;
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    
}
header article button:hover{
    background-color:white;
    color: black;
}
header article{
    text-align: center;
}
aside ul li{
    text-align: right;
    list-style: none;   
}
aside li a{
    text-decoration: none;
    color: white;
    line-height: 40px; 
    margin-right: 80px;
}
aside {
    margin-bottom: 20px;
}
/* second part of the page */
main + section{
    text-align: center;
}
main + section h3{
    font-family: Fredericka the Great, cursive;
    margin-top: 50px;
}
main + section p{
    margin: 30px 600px 50px 600px;
    font-size: 13px;
}
main + section article button{
    color: black;
    background-color: white;
    border: 5px double black;
    line-height: 25px;
    width: 110px;
    height: 70px;
    text-decoration: none;
    margin-bottom: 150px;
}
main + section button:hover{
    text-decoration: underline;
}
/* the third part of the page */
footer{
    background-color:#3A3C4A;
    width: 100vw;
    height: 110px;
}
footer p{
    font-size: 10px;
    color: white;    
}
footer button{
    background-color: transparent;
    color: white;
    padding: 7px 15px;
    font-size: 10px;
    border: 1px solid white;
}
footer button:hover{
    background-color:white; 
    color: black;
}
footer article{
    margin: 0px 1000px 10px 20px;
}
footer a{
    color: white;
    text-decoration: none;
    padding-right: 10px;  
}
footer a:hover{
    text-decoration: underline;
}
footer div {
    font-size: 10px;
    text-align: right;
    padding-right: 10px;
    margin-top: 20px;
}
